# Python
__pycache__/
*.pyc
.venv/

# ROS 2 のワークスペースのビルドで作られるディレクトリ
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# CMake のビルド
cmake_hello/build/

# Docker Compose で共有するディレクトリ
docker/work/
docker_ros/ros2_ws/
